---
import Header from '../components/header.astro'
import Mas from '../components/queson.astro'

---

<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Terapias Holísticas</title>
</head>
<body>
	<Header/>
	<br>
	<br>
	<Mas/>

</body>
</html>