---
import Header from '../components/header.astro'
import Mas from '../components/queson.astro'

---

<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="Reiki, Terapia holística, terapeuta, tameana, medium, registros">
	<meta name="description" content="Ésta es la página de Marce, tu terapeuta holística">
	<meta name="author" content="Juan Campos">
	<meta name="robots" content="index">
	<title>Terapias Holísticas</title>
	<link rel="icon" type="image/x-icon" href="/manos.ico">
</head>
<body>
	<Header/>
	<br>
	<br>
	<Mas/>

</body>
</html>